@value glassBackground,glassBlur,glassBorder,descBlack,contentShadow,linkColor from "../../common/colors.module.css";
@value subFont,panelFont,glassRadius,panelPadding,panelTitleBottom,contentBottom,panelBottom from "../../common/sizes.module.css";

.wrap {
  padding: panelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
}
.wrap:not(:last-child) {
  margin-bottom: panelBottom;
}
.category {
  margin-bottom: panelTitleBottom;
  font-size: panelFont;
  font-weight: 500;
}
.item:not(:last-child) {
  margin-bottom: contentBottom;
}
.link:hover {
  text-decoration: underline;
}
.title {
  color: linkColor;
}
.date {
  color: descBlack;
  font-size: subFont;
}
