/* font css */
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("SpoqaHanSansNeo-Bold"),
    url("./fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("./fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("./fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("SpoqaHanSansNeo-Regular"),
    url("./fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("./fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("./fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

/* reset css */
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  overflow: hidden;
}
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* app css */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(235, 251, 252),
    rgb(230, 251, 252)
  );
}

.main {
  padding-top: 76px;
}

/* tablet  */
@media all and (min-width: 768px) and (max-width: 1023px) {
  #root {
    padding-top: 0;
  }
}

/* desktop */
@media all and (min-width: 1024px) {
  .main {
    padding-top: 0;
  }
}
