/* reset css */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

#root {
  height: 100%;
  background-color: #8ec5fc;
  background-image: linear-gradient(135deg, #8ec5fc 0%, #e0c3fc 100%);
  /* background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%); */
}
