/* font css */
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("SpoqaHanSansNeo-Bold"),
    url("./fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("./fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("./fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("SpoqaHanSansNeo-Regular"),
    url("./fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("./fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("./fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

/* reset css */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
ul,
li,
h1,
h2,
h3,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* app css */
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to right bottom, #e6e9f0 0%, #eef1f5 100%);
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  overflow: hidden;
}
#root::before,
#root::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.8),
    rgb(255, 255, 255, 0.3)
  );
  border-radius: 50%;
  z-index: 1;
}
#root::before {
  top: -2%;
  right: -3%;
}
#root::after {
  bottom: -4%;
  left: 5%;
}

.main {
  height: 100%;
  margin-top: 76px;
  padding: 20px;
  z-index: 2;
}
/* desktop */
@media all and (min-width: 1024px) {
  .main {
    margin-top: 0;
    margin-left: 200px;
  }
}
