@value customWhite,glassBackground,glassBlur,glassBorder,panelRed,panelOrange,panelBlue,panelGreen,panelBlack,contentShadow from "../../common/colors.module.css";
@value panelFont,glassRadius,panelPadding,contentBlack,descBlack,panelTitleBottom,contentBottom,panelBottom from "../../common/sizes.module.css";

.panels {
  display: flex;
  margin-bottom: panelBottom;
  padding: panelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
}
.panel {
  width: 33%;
}
.categroy {
  margin-bottom: panelTitleBottom;
}
.category,
.cnt {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  align-items: center;
  margin-bottom: panelBottom;
  padding: panelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
}
.title,
.count,
.sub {
  width: 33.333%;
  text-align: center;
}
.title,
.count {
  margin-right: 3%;
}
.count {
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card:nth-child(1) .count {
  color: panelRed;
}
.card:nth-child(2) .count {
  color: panelOrange;
}
.card:nth-child(3) .count {
  color: panelGreen;
}
.card:nth-child(4) .count {
  color: panelBlack;
}
.sub {
  color: customWhite;
  font-weight: 500;
  border-radius: glassRadius;
}
.card:nth-child(1) .sub {
  background-color: panelRed;
}
.card:nth-child(2) .sub {
  background-color: panelOrange;
}
.card:nth-child(3) .sub {
  background-color: panelGreen;
}
.card:nth-child(4) .sub {
  background-color: panelBlack;
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    flex-direction: column;
    width: 48%;
  }
  .card:nth-child(2n + 1) {
    margin-right: 4%;
  }
  .title,
  .count {
    margin-right: 0;
  }
  .title {
    margin-bottom: panelTitleBottom;
  }
  .count {
    width: 100%;
    margin-bottom: contentBottom;
    font-size: 1.5rem;
  }
}

/* desktop */
@media all and (min-width: 1024px) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }
  .card {
    flex-direction: column;
    width: 25%;
    margin-bottom: 0;
  }
  .card:not(:last-child) {
    margin-right: 0.5%;
  }
  .title,
  .count {
    margin-right: 0;
  }
  .title {
    width: 100%;
    margin-bottom: panelTitleBottom;
  }
  .count {
    width: 100%;
    margin-bottom: contentBottom;
    font-size: 1.5rem;
  }
  .sub {
    width: 55%;
  }
}
