@value glassBackground,glassBlur,glassBorder,contentTitle,descColor,contentShadow from "../../common/colors.module.css";
@value subFont,titleFont,titleWeight,glassRadius,pannelPadding,mobSize from "../../common/sizes.module.css";

.wrap {
  margin-bottom: mobSize;
}
.title {
  margin-bottom: 5px;
  font-size: titleFont;
}
.item {
  color: contentTitle;
  font-weight: titleWeight;
}
.description {
  color: descColor;
  font-size: subFont;
}

/* desktop */
@media all and (min-width: 1024px) {
  .wrap {
    margin-right: auto;
    padding: pannelPadding;
    background: glassBackground;
    backdrop-filter: glassBlur;
    -webkit-backdrop-filter: glassBlur;
    border: glassBorder;
    border-radius: glassRadius;
    box-shadow: contentShadow;
  }
}
