@value glassBackground,glassBlur,glassBorder,contentBlack,descBlack,contentShadow from "../../common/colors.module.css";
@value subFont,titleFont,titleWeight,glassRadius,pannelPadding,titleMargin from "../../common/sizes.module.css";

.wrap {
  margin-bottom: titleMargin;
}
.title {
  margin-bottom: 5px;
  font-size: titleFont;
}
.item {
  color: contentBlack;
  font-weight: titleWeight;
}
.description {
  color: descBlack;
  font-size: subFont;
}

/* desktop */
@media all and (min-width: 1024px) {
  .wrap {
    margin-top: titleMargin;
    margin-right: auto;
  }
}
