@value navSize from "../../common/sizes.module.css";

.err {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  flex: 1;
}
