@value navSize from "../../common/sizes.module.css";
@value linkColor from "../../common/colors.module.css";

.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  flex: 1;
}

.text {
  margin-bottom: 20px;
}

.link {
  color: linkColor;
}
.link:hover {
  text-decoration: underline;
}
