@value glassBackground,glassBlur,glassBorder,panelRed,panelOrange,panelGreen,panelBlack,linkColor,contentShadow from "../../../common/colors.module.css";
@value glassRadius,panelPadding,panelTitleBottom,contentBottom,panelBottom from "../../../common/sizes.module.css";

.wrap {
  margin-bottom: panelBottom;
}

.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  align-items: center;
  margin-bottom: panelBottom;
  padding: panelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
  transition: all 300ms ease-in-out;
}
.card:hover {
  transform: translateY(-2px);
}
.card:last-child {
  margin-bottom: 0;
}

.title,
.count {
  width: 50%;
  text-align: center;
}
.count {
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.card:nth-child(1) .count {
  color: panelRed;
}
.card:nth-child(2) .count {
  color: panelOrange;
}
.card:nth-child(3) .count {
  color: panelGreen;
}
.card:nth-child(4) .count {
  color: panelBlack;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.link {
  color: linkColor;
}
.link::before {
  content: "👉";
  position: relative;
  bottom: 3px;
}
.link:hover {
  font-weight: 500;
}
.link:hover .desc {
  text-decoration: underline;
}
.desc {
  text-decoration: none;
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    margin-bottom: 0;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    flex-direction: column;
    width: 48%;
  }
  .card:last-child {
    margin-bottom: panelBottom;
  }
  .card:nth-child(2n + 1) {
    margin-right: 4%;
  }

  .title,
  .count {
    margin-right: 0;
  }
  .title {
    margin-bottom: panelTitleBottom;
  }
  .count {
    width: 100%;
    font-size: 1.5rem;
  }

  .tooltip {
    flex-direction: row;
    font-size: 1.2rem;
  }
  .text {
    margin-right: 10px;
  }
}

/* desktop */
@media all and (min-width: 1024px) {
  .category {
    margin-bottom: 0;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
  }
  .card {
    flex-direction: column;
    width: 25%;
    margin-bottom: 0;
  }
  .card:not(:last-child) {
    margin-right: 2%;
  }
  .title,
  .count {
    margin-right: 0;
  }
  .title {
    width: 100%;
    margin-bottom: panelTitleBottom;
  }
  .count {
    width: 100%;
    font-size: 1.5rem;
  }

  .tooltip {
    flex-direction: row;
    font-size: 1.2rem;
  }
  .text {
    margin-right: 10px;
  }
}
