@value footerBlack from "../../common/colors.module.css";
@value subFont,navSize from "../../common/sizes.module.css";

.footer {
  margin-top: auto;
  padding: 20px;
  font-size: subFont;
  color: footerBlack;
  text-align: center;
  background: transparent;
  z-index: 2;
}
.copy {
  display: inline-block;
  margin-top: 5px;
}

/* desktop */
@media all and (min-width: 1024px) {
  .footer {
    margin-left: navSize;
  }
}
