@value panelBlack,glassBackground,glassBlur,glassBorder,contentShadow from "../../common/colors.module.css";
@value glassRadius,panelPadding,panelBottom from "../../common/sizes.module.css";

.wrap {
  width: 100%;
  padding: panelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
}
.wrap:not(:last-child) {
  margin-bottom: panelBottom;
}

canvas {
  margin-bottom: panelBottom;
}
.legends {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: panelBlack;
}
.legend {
  display: flex;
  width: 48%;
  margin-bottom: 10px;
}
.legend:nth-child(2n + 1) {
  margin-right: 2%;
}
.color {
  width: 20px;
  height: 100%;
  margin-right: 3px;
  border: 1px solid white;
  border-radius: 2px;
  flex-shrink: 0;
}
.label {
  display: flex;
  align-items: center;
  margin-right: 3px;
  flex-shrink: 0;
}
.cnt {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.per {
  margin-left: 2px;
  font-size: 11px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    width: 48%;
  }
  .wrap:nth-child(2n + 1) {
    margin-right: 2%;
  }
  .wrap:last-child {
    margin-bottom: panelBottom;
  }
}

@media all and (min-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrap {
    width: 48%;
  }
  .wrap:nth-child(2n + 1) {
    margin-right: 2%;
  }
  .wrap:last-child {
    margin-bottom: panelBottom;
  }
}
