@value linkColor,panelBlack,glassBackground,glassBlur,glassBorder,contentShadow from "../../../common/colors.module.css";
@value glassRadius,panelPadding,panelBottom from "../../../common/sizes.module.css";

.container {
  display: flex;
  flex-direction: column;
}
.wrap {
  width: 100%;
  padding: panelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
}
.wrap:nth-child(2n + 1) {
  margin-bottom: panelBottom;
}

canvas {
  margin-bottom: panelBottom;
}
.legends {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: panelBlack;
}
.legend {
  display: flex;
  width: 48%;
  margin-bottom: 10px;
}
.legend:nth-child(2n + 1) {
  margin-right: 2%;
}
.label {
  display: flex;
  align-items: center;
  margin-right: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.color {
  width: 20px;
  height: 100%;
  margin-right: 3px;
  border: 1px solid white;
  border-radius: 2px;
  flex-shrink: 0;
}
.cnt {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.per {
  margin-left: 2px;
  font-size: 11px;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10px;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover .link {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
.text::after {
  content: "👉";
  position: relative;
  bottom: 3px;
}
.link {
  color: linkColor;
}

@media all and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .wrap {
    width: 49%;
  }
  .wrap:nth-child(2n + 1) {
    margin-bottom: 0;
    margin-right: 2%;
  }
}
