@value customWhite, glassBackground, glassBlur, glassBorder, categoryBlack, menuBlack, navPadding from "../../common/common.module.css";

.header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: navPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border-bottom: glassBorder;
}

.gnb {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  flex: 1;
  height: 45px;
  text-align: center;
}

.logoLink {
  display: inline-block;
  height: 100%;
}

.img {
  height: 100%;
}

.header::after {
  content: "";
  flex: 1;
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  margin-top: 76px;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  box-shadow: 0 5px 6px 0 rgba(31, 38, 135, 0.37);
  transform: translateX(-250px);
  transition: transform 300ms ease-in-out;
}

.nav.toggle {
  transform: translateX(0);
}

.category {
  display: flex;
  align-items: center;
  padding: navPadding;
  color: categoryBlack;
  font-size: 0.875rem;
  line-height: 1.5;
}

.category::after {
  content: "";
  flex: 1;
  height: 1px;
  margin-left: 10px;
  background-color: categoryBlack;
}

.menuItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: navPadding;
  color: menuBlack;
  transition: all 300ms ease-in-out;
}

.ico {
  margin-right: 16px;
  transition: all 300ms ease-in-out;
}

.menuItem:hover {
  background: linear-gradient(to right, #e0c3fc 10%, #feb7f6 90%);
  color: customWhite;
}

.menuItem:hover .ico {
  fill: customWhite;
}

.menuItem.selected {
  color: customWhite;
  background: linear-gradient(to right, #e0c3fc 10%, #feb7f6 90%);
  backdrop-filter: glassBlur;
}

.menuItem.selected .ico {
  fill: customWhite;
}
