@value subFont, customWhite, categoryBlack, menuBlack, glassBackground, glassBlur, glassBorder, headerHeight, navPadding, boxShadow, footerColor from "../../common/common.module.css";

/* 상단 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: navPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border-bottom: glassBorder;
}
.wrap {
  display: flex;
  justify-content: space-around;
}
.wrap::after {
  content: "";
  flex: 1;
}
.gnb {
  display: flex;
  align-items: center;
  flex: 1;
}
.logo {
  flex: 1;
  height: 45px;
  text-align: center;
}
.logoLink {
  display: inline-block;
  height: 100%;
}
.img {
  height: 100%;
}

/* 메뉴 목록 */
.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 100vh;
  margin-top: headerHeight;
  padding-bottom: headerHeight;
  background: inherit;
  backdrop-filter: inherit;
  -webkit-backdrop-filter: inherit;
  box-shadow: boxShadow;
  overflow-y: scroll;
  transform: translateX(-250px);
  transition: transform 300ms ease-in-out;
}
.nav.toggle {
  transform: translateX(0);
}
.category {
  display: flex;
  align-items: center;
  padding: navPadding;
  color: categoryBlack;
  font-size: 0.875rem;
  line-height: 1.5;
}
.category::after {
  content: "";
  display: none;
  flex: 1;
  height: 1px;
  margin-left: 10px;
  background-color: categoryBlack;
}
.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: navPadding;
  color: menuBlack;
  transition: all 300ms ease-in-out;
}
.ico {
  transition: all 300ms ease-in-out;
}
.menuItem:hover {
  background: linear-gradient(to right, #e0c3fc 10%, #feb7f6 90%);
  color: customWhite;
}
.menuItem:hover .ico {
  fill: customWhite;
}
.menuItem.selected {
  color: customWhite;
  background: linear-gradient(to right, #e0c3fc 10%, #feb7f6 90%);
}
.menuItem.selected .ico {
  fill: customWhite;
}
.text {
  display: none;
  margin-left: 16px;
}

/* 푸터 */
.footer {
  display: none;
  margin-top: auto;
  padding: navPadding;
  font-size: subFont;
  color: footerColor;
}
.auth {
  font-weight: 400;
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    width: 200px;
  }
  .category::after {
    display: block;
  }
  .menuItem {
    justify-content: flex-start;
  }
  .text {
    display: block;
  }
  .footer {
    display: block;
  }
}

/* desktop */
@media all and (min-width: 1024px) {
  /* 상단 헤더 */
  .header {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0;
    box-shadow: boxShadow;
  }
  .wrap {
    justify-content: center;
    padding: navPadding;
    margin-bottom: 1px;
  }
  .gnb {
    display: none;
    flex: 0;
  }
  .logo {
    flex: 0;
  }
  .wrap::after {
    display: none;
  }

  /* 메뉴목록 */
  .nav {
    position: static;
    width: 200px;
    margin-top: 0;
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    transform: translateX(0);
  }
  .category::after {
    display: block;
  }
  .menuItem {
    justify-content: flex-start;
  }
  .text {
    display: block;
  }
  .footer {
    display: block;
  }
}
