@value glassBackground,glassBlur,glassBorder,descColor,contentShadow from "../../common/colors.module.css";
@value categoryFont,subFont,pannelFont,glassRadius,pannelPadding from "../../common/sizes.module.css";

.wrap {
  padding: pannelPadding;
  background: glassBackground;
  backdrop-filter: glassBlur;
  -webkit-backdrop-filter: glassBlur;
  border: glassBorder;
  border-radius: glassRadius;
  box-shadow: contentShadow;
}
.wrap:not(:last-child) {
  margin-bottom: 30px;
}
.title {
  margin-bottom: 15px;
  font-size: pannelFont;
  font-weight: 500;
}
.items:not(:last-child) {
  margin-bottom: 20px;
}
.link {
  color: #369fff;
}
.link:hover,
.link:hover .site {
  text-decoration: underline;
}
.site {
  display: inline-block;
  width: 100%;
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .link {
    flex-direction: row;
  }
  .site {
    width: auto;
  }
}

/* desktop */
@media all and (min-width: 1024px) {
  .site {
    width: auto;
  }
}
